<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>Class_application</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <context-param>
    <description>logEnabled</description>
    <param-name>logEnabled</param-name>
    <param-value>false</param-value>
  </context-param>
  
  <context-param>
    <param-name>debugLevel</param-name>
    <param-value>1</param-value>
  </context-param>
  
  
   <!-- 서블릿 등록 : 서블릿 이름, 클래스 이름(페키지명을 포함하는 풀네임 등록)-->
  <servlet>
  	<servlet-name>HelloServlet</servlet-name>
  	<servlet-class>web.HelloServlet</servlet-class>
  </servlet>
  
  
  <!-- 사용자 요청 URL 등록 -->
  <servlet-mapping>
  	<servlet-name>HelloServlet</servlet-name>
  	<url-pattern>/hello</url-pattern>
  </servlet-mapping>
  
  
  
  
</web-app>