 body {
        background: #f5f6f7;
        overflow: scroll;
    }

    .header .n_logo {
        width: 200px;
        background-size: 137px auto;
        color: transparent;
        background-repeat: no-repeat 0 0;
        margin-left: 46%;
        margin-top: 2%;
    }

    .form {
        margin-top: 30px;
        text-align: center;
        margin-right: 240px;
    }

    .form_Name {
        font-size: 10.9px;
        font-weight: 650;
        margin-top: 30px;
    }

    .bigBox {
        display: inline-block;
        width: 370px;
        padding: 7px;
        border: 1px solid #b2bec3;
        opacity: 0.6;
        margin-left: 344px;
        background: white;
        margin-top: -5px;
/*        background-image: url(img/m_icon_safe.png)*/
    }

    .smallBox {
        display: inline-block;
        width: 255px;
        height: 20px;
        margin-top: -80px;
        margin-left: -6px;
        border: 0px;
    }

    #lock {
        width: 15px;
        margin-top: -1px;
        margin-left: 29px;
    }

    #lock1 {
        width: 15px;
        margin-top: -1px;
        margin-left: 29px;
    }

    .yearBigBox {
        display: inline-block;
        width: 108px;
        padding: 7px;
        border: 1px solid #b2bec3;
        opacity: 0.7;
        background: white;
    }

    .yearBox1 {
        display: inline-block;
        width: 100px;
        padding: 5px;
        border: 0;
    }

    .selectText {
        font-size: 9.5px;
        color: #636e72;
        opacity: 0.7;
    }

    .btn_Style {
        width: 389px;
        padding: 10px;
        border: 1px solid #2db400;
        background: #2db400;
        color: white;
        font-size: 17px;
        margin-left: 345px;
        margin-top: 20px;
    }

    #footlogo {
        width: 70px;
        vertical-align: 8px;
    }

    /*
.style_Select option.option_style{
    font-size: 11px;    
    }    
*/